:root {
  --bg: #fff;
  --textColor: #000;
  --softBg: #f0f0f0;
  --softText: #626262
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  -webkit-font-smoothing: 'antialiased';
  overflow-x: hidden;
}

body, input, textarea, button {
  font: 400 1rem Roboto, 'sans-serif';
  font-weight: 400;
}

a { 
  color: inherit;
  text-decoration: none;
}

